h1, .jumbotron {
	text-align: center;
}

.start {
	text-align: center;
	display: inline-block;
}

#time-holder,
#question-holder, 
#answer-holder {
	text-align: center;
}

#choice-holder-1, 
#choice-holder-2, 
#choice-holder-3, 
#choice-holder-4,
#result-holder {
	text-align: center;
	background-color: black;
}


.jumbotron {
	background-image: url("../images/stars.gif");
}

